.container:hover .primaryAction {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.primaryAction {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.15s ease;
}
